[submodule "astro"]
	path = astro
	url = https://github.com/Majou07/astro.git
[submodule "Django"]
	path = Django
	url = https://github.com/Majou07/Django.git
[submodule "Next"]
	path = Next
	url = https://github.com/Majou07/Next.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/Majou07/Angular.git
[submodule "ExpressJs"]
	path = ExpressJs
	url = https://github.com/Majou07/ExpressJs.git
[submodule "SpringBoot"]
	path = SpringBoot
	url = https://github.com/Majou07/SpringBoot.git
